<%= form_for @user, :html => { class: 'form-horizontal' } do |f| %>
    <% if !@user.errors.empty? %>
        <ul class="alert alert-error">
        <% @user.errors.full_messages.each do |err| %>
            <li><%= err %></li>
        <% end %>
        </ul>
    <% end %>

    <div class="control-group">
        <%= f.label :name, class: 'control-label' %>
        <div class="controls">
            <%= f.text_field :name %>
        </div>
    </div>
    <div class="control-group">
        <%= f.label :email, class: 'control-label' %>
        <div class="controls">
            <%= f.text_field :email %>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox"> Remember me
            </label>
            <%= f.submit class: 'btn btn-primary btn-large' %>
        </div>
    </div>
<% end %>